@keyframes slideDown {
    from {
        height: 0;
        padding: 0 1rem;
    }
    to {
        height: var(--radix-collapsible-content-height);
        padding: 1rem;
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
        padding: 1rem;
    }
    to {
        height: 0;
        padding: 0 1rem;
    }
}
