@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: var(--primary-gradient);
}

svg {
    display: flex;
    flex-shrink: 0;
    color: #00000000;
}

@layer components {
    input {
        /* @apply autofill:shadow-[inset_0_0_0px_1000px_#7b0d1e]; set 'background' colour (black) */
        @apply autofill:px-2;
        @apply autofill:text-lg; /* set font size */
    }
}
