@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';
@import './shadcn.css';

body {
    background: var(--primary-gradient);
}
@layer base {
    *,
    *::before,
    *::after {
        @apply m-0 box-border p-0;
    }

    html,
    body {
        @apply h-full overflow-x-hidden text-white;
    }
    a.active {
        @apply underline decoration-primary-red decoration-4 underline-offset-8;
    }
    a.active > svg {
        @apply text-icon-active;
    }

    input {
        @apply autofill:px-2;
        @apply autofill:text-lg;
    }

    input[type='file'] {
        @apply hidden;
    }

    svg {
        @apply flex h-8 w-8 text-white;
    }
}

@layer components {
    .main-nav-link {
        @apply flex justify-center rounded-md px-2 py-2 text-center text-xs font-medium transition-all duration-300 hover:bg-gray-600;
    }
    .match-card {
        @apply flex h-2/6 w-full items-center justify-center md:h-2/5 md:w-2/5;
    }
    .match-card::after {
        @apply absolute inset-0 -z-[1] rounded-lg bg-black bg-opacity-70;
        content: '';
    }
    .match-card-button {
        @apply absolute flex h-full w-full cursor-pointer items-center justify-center rounded-xl bg-cover text-3xl font-bold opacity-100 shadow-sm transition-all duration-300 ease-out text-shadow hover:text-4xl hover:opacity-100 md:opacity-30;
    }

    .leagues-page-nav-button {
        @apply rounded-xl p-4 font-semibold transition-all duration-300 hover:bg-gray-600;
    }

    .leagues-page-nav-button.active {
        @apply text-icon-active bg-gray-800;
    }

    .leagues-page-logo-selector {
        @apply m-auto w-[80%] cursor-pointer bg-secondary-brown px-2 py-3 text-center font-bold uppercase;
    }

    .leagues-page-search-icon {
        @apply absolute right-3 top-3 h-[32px] w-[32px];
    }

    .collapsible-table-row {
        @apply overflow-hidden p-4;
    }

    .collapsible-table-row[data-state='open'] {
        @apply animate-league-info-slide-down;
    }
    .collapsible-table-row[data-state='closed'] {
        @apply animate-league-info-slide-up;
    }

    .collapsible-table-trigger svg {
        @apply transition-rotate-x;
    }

    .collapsible-table-trigger[data-state='open'] svg {
        @apply rotate-x;
    }
}

@layer utilities {
    .transition-rotate-x {
        @apply transform-gpu transition-all duration-300;
    }
    .rotate-x {
        transform: rotateX(3.142rad);
    }
}
